In [12]:
import pandas as pd

df = pd.read_csv("../data/raw/BTCUSD_volumebars_500.csv")
df['time'] = pd.to_datetime(df['time'], unit='us')
df = df.rename(columns={'time':'timestamp'})
df.set_index('timestamp', inplace=True)
df

,open,high,low,close,volume
timestamp,,,,,
1970-01-01 00:00:00.000000,0.0000,0.00,0.00000,0.00,0.000000
2013-04-01 02:38:49.000000,93.2500,100.00,93.03000,93.50,603.138644
2013-04-01 10:07:17.000000,93.5000,94.48,92.49999,94.48,506.157271
2013-04-01 12:09:44.000000,94.5000,98.10,94.00000,98.10,501.173413
2013-04-01 14:53:30.000000,98.0226,105.00,95.98264,104.75,610.751051
...,...,...,...,...,...
2019-09-23 16:47:17.534000,9952.0000,9980.00,9812.20000,9829.90,500.627590
2019-09-23 20:59:28.657024,9829.9000,9855.00,9775.20000,9780.00,504.615048
2019-09-23 21:21:25.573147,9780.2000,9801.30,9650.00000,9666.00,502.091446
2019-09-23 22:15:14.433004,9665.0000,9835.90,9654.20000,9680.90,500.210000
2019-09-23 23:17:26.589001,9680.9000,9734.00,9610.30000,9728.50,500.437331

In [13]:
df.to_csv('../data/processed/BTCUSD_volumebars_500_timestamp.csv')